@charset "utf-8";
@import './_var.scss';
// 根元素 font-size
// 在import function 之前声明
//$pixelBase: 16;   // 5s 320/20
//$pixelBase: 18.75;// 6s 375/20
//$pixelBase: 20.7;   // 6+ 414/20

html {
  font-size: #{$pixelBase}px;
}

@function parseInt($n ) {
  //  /* 去掉单位 13px -> 13 */
  @return $n / ($n * 0 + 1);
}

@function rem($values ) {
  $list: (); // 存储转变后的值

  @each $value in $values {
    // 遍历传入的值

    @if $value == auto or parseInt($value) == 0 {
      // 0 和 auto 原样返回
      $list: append($list, $value);
    } @else {
      $unit: unit($value); //取单位
      $val: parseInt($value); // 取数字值

      @if $unit == "px" {
        //转换px值
        $list: append($list, ($val / $pixelBase + rem));
      }

      @if $unit == "rem" {
        // rem值不转换
        $list: append($list, $value);
      }
    }
  }

  @return $list;// 返回值列表
}